.form__container {
    width: 684px;
    margin: 0 auto;
}

.form__title {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--color-blue);
}

.form__body {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    /* border: 1px solid #000000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    border-top: none;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__title-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 165%;
    color: #fff;
}

.form__input {
    padding-left: 15px;
    width: 588px;
    height: 64px;
    background-color: var(--color-white);
    color: #23232380;
    border: none;
    border-radius: 5px;
    outline: none;
    position: relative;
}

.input__container {
    position: relative;
}

.form__input_error {
    outline: 1px solid red;
}

.form__validation-message {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: red;
    position: absolute;
    bottom: -20px;
    left: 0;
    display: none;
}

.form__validation-message_active {
    display: block;
}

.form__add {
    margin: 48px auto;
    width: 100%;
    display: flex;
}

.form__add-file {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: none;
    height: 64px;
    border-radius: 8px;
}

.form__add-file_button {
    background-color:#fff;
    outline: 2px solid var(--color-blue);
    z-index: 1;
}

.form__add-file-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 142%;
}

.form__agreement-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 142%;
    color: var(--color-black);
    margin-top: 16px;
}

.form__checkbox {
    margin-right: 11px;
    cursor: pointer;
}

.form__agreement-text-link {
    text-decoration: none;
    color: var(--color-blue);
}

.form__send-button {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    border: none;
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__send-button_disabled {
    background-color: #2FBAE578;
}

.form__send-button_disabled:hover {
    cursor: default;
    background-color: #2FBAE578;
}

.form__send-button_disabled:active {
    background-color: #2FBAE578;
    box-shadow: none;
  }


.form__send-button-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: #fff;
}
