.promo__container {
    width: 1375px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    text-align: start;
}

.promo__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: var(--color-blue);
}

.promo__text {
    width: 450px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-grey);
    margin-top: 16px;
    margin-bottom: 64px; 
}

.promo__button {
    width: 337px;
    height: 64px;
    border-radius: 5px;
    background-color: var(--color-blue);
    border: none;
    cursor: pointer;
}

.promo__button-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-white);
}

@media screen and (max-width: 1430px) {
    .promo__container {
        width: 721px;
    }

    .promo__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        margin-top: 24px;
    }

    .promo__image {
        width: 354px;
        height: 259px;
    }

    .promo__text {
        width: 358px;
        font-weight: 500;
        font-size: 18px;
        line-height: 165%;
        margin-top: 9px;
        margin-bottom: 29px; 
    }

    .promo__button {
        width: 352px;
        height: 67px;
        border-radius: 5px;
    }

    .promo__button-text {
        font-weight: 600;
        font-size: 22px;
        line-height: 257%;
    }
}

@media screen and (max-width: 768px) {
    .promo__container {
        width: 343px;
        flex-direction: column-reverse;
    }

    .promo__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin-top: 19px;
    }

    .promo__button-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 165%;
    }

    .promo__button {
        width: 343px;
    }

    .promo__button-text {
        font-size: 20px;
        line-height: 24px;
    }

    .promo__image {
        width: 343px;
        height: 250px;
    }

    .promo__text {
        width: 323px;
        margin-top: 17px;
        margin-bottom: 24px; 
    }
}