.steps__container {
    width: 1375px;
    margin: 0 auto;
    position: relative;
}

.steps__road {
    width: 1100px;
    position: absolute;
    bottom: 45px;
    left: 135px;
    z-index: -1;
}

.steps__title {
    text-align: left;
    font-weight: 600;
    font-size: 40px;
    line-height: 165%;
    color: var(--color-black);
}

.steps__grid-table {
    margin-top: 37px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 44px;
    row-gap: 150px;
}

.steps__step {
    width: 306px;
    list-style: none;
}

.steps__step-title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.steps__step-text {
    width: 194px;
    text-align: left;
    margin-left: 16px;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: var(--color-grey);
}

.steps__step-circle {
    width: 80px;
    height: 80px;
    background-color: #FAFAFA;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__number {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: var(--color-blue);
}

.steps__image {
    margin-top: 7px;
}

@media screen and (max-width: 1430px) {
    .steps__container {
        width: 720px;
    }

    .steps__title {
        font-size: 25px;
    }

    .steps__step {
        width: 222x;
    }

    .steps__step-circle {
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }

    .steps__grid-table {
        margin-top: 13px;
        column-gap: 12px;
        row-gap: 107px;
    }

    .steps__step-text {
        width: 108px;
        margin-left: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-left: 5px;
        width: 105px;
    }
    
    .steps__number {
        font-weight: 500;
        font-size: 20px;
        line-height: 165%;
    }

    .steps__image {
        margin-top: 14px;
        width: 170px;
        height: 170px;
    }

    .steps__step {
        width: 171px;
    }

    .steps__road {
        width: 649px;
        height: 507px;
        bottom: 9px;
        left: 14px;
        z-index: -1;
    }
}

@media screen and (max-width: 768px) {
    .steps__grid-table {
        margin-top: 37px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 44px;
    }
}