.container {
    margin: 115px auto;
    width: 1370px;
}

.why__title {
    margin-bottom: 27px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 40px;
    line-height: 165%;
    text-align: left;
    color: #282828;
}

.why__list {
    display: flex;
    justify-content: space-between;
    gap: 13px;
}

.why__item {
    width: 453px;
    list-style: none;
    text-align: left;
}

.why__item-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    color: var(--color-black);
}

.why__item-title::before {
    content: "\2022";
    color: var(--color-blue);
    font-weight: 900;
    font-size: 37px;
    line-height: 30px;
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 24px;
}

.why__item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-grey);
}

@media screen and (max-width: 1430px) {
    .container {
        margin: 80px auto;
        width: 720px;
    }

    .why__title {
        margin-bottom: 14px;
        margin-left: 0;
        font-weight: 600;
        font-size: 25px;
        line-height: 165%;
    }

    .why__item-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
    }

    .why__item-title::before {
        font-weight: 900;
        font-size: 37px;
        line-height: 20px;
        margin-right: 12px;
        margin-bottom: 20px;
        
    }

    .why__item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        width: 226px;
    }
    
    .why__item {
        width: 231px;
    }

    .why__item:nth-child(2) {
        width: 207px;
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        width: 343px;
        margin-bottom: 90px;
    }

    .why__title {
        margin-bottom: 15px;
    }

    .why__list {
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
    }

    .why__item-title {
        line-height: 165%;
    }

    .why__item-title::before {
        font-weight: 900;
        font-size: 37px;
        line-height: 20px;
        margin-right: 15px;
        margin-bottom: 21px;
        
    }

    .why__item-text {
        width: 300px;
    }
    
    .why__item {
        width: 100%;
    }

    .why__item:nth-child(2) {
        width: 100%;
    }

}