.footer {
    background-color: var(--color-white);
    padding: 21px 0;
    margin-top: 182px;
}


.footer__container {
    display: flex;
    margin: 0 auto;
    width: 1375px;
    align-items: center;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    align-items: center;
    width: 356px;
    text-decoration: none;
    color: var(--color-black);
}

.footer__social-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-left: 8px;
}