.footer {
    background-color: var(--color-white);
    padding: 21px 0;
    margin-top: 82px;
}


.footer__container {
    display: flex;
    margin: 0 auto;
    width: 1375px;
    align-items: center;
    gap: 113px;
}

.footer__social {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-black);
}

.footer__social-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-left: 13px;
}

@media screen and (max-width: 1430px) {
    .footer {
        box-shadow: 12px 18px 64px rgba(0, 0, 0, 0.08);
        background: #FFFFFF;
    }
    .footer__container {
        width: 720px;
        gap: 17px;
    }

    .footer__social-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        margin-left: 10px;
    }

    .footer__icon {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .footer__container {
        width: 308px;
        flex-direction: column;
        align-items: start;
        gap: 17px;
    }

    .footer__social-text {
        font-size: 18px;
        margin-left: 10px;
    }

    .footer__icon {
        width: 40px;
        height: 40px;
    }

}