.copyright__container {
    width: 380px;
    margin: 0 auto 60px;
    display: flex;
    flex-direction: column;
}

.copyright__logo {
    margin: 41px auto;
}

.copyright__link{
    text-decoration: none;
    color: var(--color-blue);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 768px) {
    .copyright__container {
        width: 300px;
    }
}